.container{
    margin: auto;
    border: 10px solid #06f7ff;
    width: 50%;
    height: 600px;
    border-radius: 10px;
}
#title{
    text-align: center;
    color: goldenrod;

}
.container hr{
    border: 5px solid #06f7ff;
}
.container h1{
    color: red;
    
   
}
#number{
    text-align: center;
    font-size: 100px;
    background-color: #b4f8ff;
    border-radius: 50px;

}
#btn{
    margin-top: 240px;
    margin-left: 85px;
    
}
#btn1{
    width: 100px;
    height: 50px;
    background-color: #ff6868;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}
#btn2{
    width: 100px;
    height: 50px;
    background-color: #2fff2f;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}
#btn3{
    width: 100px;
    height: 50px;
    background-color: #2fff2f;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}